/* Container */
.my-menu-container {
    position: fixed;
    background-color: var(--corBranco);
    box-shadow: var(--corSombra);
    width: 100%;
    z-index: 100;
    top: 0;
}

/* Logo */
.my-menu-logo {
    height: 60px;
}

.my-menu-logoFisio {
    color: var(--corPreto);
    font-size: 18px;
    font-weight: 500;
}

.my-menu-logoFit {
    color: var(--corVermelhoClaro);
    font-size: 18px;
    font-weight: 500;
}

/* Links */
.my-menu-links li a {
    color: var(--corPreto);
    text-decoration: none;
}

.my-menu-links li a:hover {
    color: var(--corVermelhoEscuro);
}

/* Btn Login */
.my-menu-btnLogin{
    background-color: var(--corVermelhoEscuro);
    color: white;
    box-shadow: var(--corSombra);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.my-menu-btnLogin:hover {
    opacity: 80%;
}

/* Btn Perfil */
.my-menu-btnPerfil{
    background-color: var(--corBranco);
    color: var(--corVermelhoEscuro);
    box-shadow: var(--corSombra);
    border: 1px solid var(--corVermelhoEscuro);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.my-menu-btnPerfil:hover {
    background-color: var(--corVermelhoEscuro);
    color: var(--corBranco);
}
