/* Btn Cadastrar */
.my-cadastro-btnCadastrar {
    width: 100%;
    background-color: var(--corVermelhoEscuro);
    color: var(--corBranco);
    box-shadow: var(--corSombra);
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.my-cadastro-btnCadastrar:hover {
    opacity: 90%;
    cursor: pointer;
}



/* Linha Horizontal */
.my-cadastro-hr {
    color: var(--corCinza);
}



/* Tem Conta ? */
.my-cadastro-temConta {
    color: var(--corVermelhoEscuro);
    text-decoration: none;
}

.my-cadastro-temConta:hover {
    color: var(--corVermelhoEscuro);
    text-decoration: underline;
}