/* Ícones */
.my-modalCadastro-icones {
    width: 40px;
}



/* Desabilitar Redimensionamento Manual do Textarea */
.my-modalCadastro-textarea {
    resize: none;
}



/* Btn Cadastrar */
.my-modalCadastro-btnCadastrar {
    width: 100%;
    background-color: var(--corVermelhoEscuro);
    color: var(--corBranco);
    box-shadow: var(--corSombra);
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.my-modalCadastro-btnCadastrar:hover {
    opacity: 90%;
}



/* Linha Horizontal */
.my-modalCadastro-hr {
    color: var(--corCinza);
}



/* Já tem conta? Clique aqui */
.my-modalCadastro-cliqueAqui {
    color: var(--corVermelhoEscuro);
    text-decoration: none;
}

.my-modalCadastro-cliqueAqui:hover {
    color: var(--corVermelhoEscuro);
    text-decoration: underline;
}