/* Ícones */
.my-modalLogin-icones {
    width: 40px;
}



/* Btn Entrar */
.my-modalLogin-btnEntrar {
    width: 100%;
    background-color: var(--corVermelhoEscuro);
    color: var(--corBranco);
    box-shadow: var(--corSombra);
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.my-modalLogin-btnEntrar:hover {
    opacity: 90%;
}



/* Linha Horizontal */
.my-modalLogin-hr {
    color: var(--corCinza);
}



/* Ainda não tem conta? Clique aqui */
.my-modalLogin-cliqueAqui {
    color: var(--corVermelhoClaro);
    text-decoration: none;
}

.my-modalLogin-cliqueAqui:hover {
    color: var(--corVermelhoClaro);
    text-decoration: underline;
}