<!-- Modal do Perfil -->
<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="perfilModalLabel">Meu Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="my-modalPerfil-body d-flex">
                <!-- Imagem do Perfil -->
                <div class="my-modalPerfil-containerImg" me-3">
                    <img class="my-modalPerfil-imagem" src="../../midia/components/modalPerfil/suaFoto.svg"
                        alt="Foto do Perfil">
                </div>

                <!-- Informações do Perfil -->
                <div class="my-modalPerfil-containerInformacoes">
                    <h5>Cleiton da Silva</h5>
                    <h6>Lesão no joelho</h6>
                    <hr>
                    <p>Lesão no joelho direito após intensificar os treinos para uma maratona.</p>
                    <p><i class="fas fa-envelope"></i> paciente@gmail.com </p>
                    <p><i class="fas fa-user-clock"></i> 28 anos</p>
                </div>
            </div>


            <div class="modal-footer">
                <!-- Botão de Sair -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-sign-out-alt"></i> Deslogar
                </button>
                <!-- Botão de Editar -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editarPerfilModal">
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição do Perfil -->
<div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarPerfilModalLabel">Editar Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarPerfil">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome do Usuário">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="problema" class="form-label">Problema</label>
                            <input type="text" class="form-control" id="problema" placeholder="Problema do Usuário">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="usuario@example.com">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="idade" class="form-label">Idade</label>
                            <input type="number" class="form-control" id="idade" placeholder="Idade Usuário">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="descricao" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricao" placeholder="Descrição do Usuário"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="foto" class="form-label">Alterar Foto</label>
                            <input type="file" class="form-control" id="foto">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- Botão de Cancelar -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#perfilModal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="salvarAlteracoes">Alterar</button>
            </div>
        </div>
    </div>
</div>