<!-- Modal Perfil -->
<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="perfilModalLabel">Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="my-modalPerfil-body d-flex">

                <!-- Imagem do Perfil -->
                <div class="my-modalPerfil-containerImg">
                    <img src="../../../src/midia/components/modalPerfil/suaFoto.svg" alt="Foto Usuário">
                </div>

                <!-- Informações do Perfil -->
                <div class="my-modalPerfil-containerInformacoes">
                    <h5>Cleiton da Silva</h5>
                    <h6>Lesão no joelho</h6>
                    <hr>
                    <p>Lesão no joelho direito após intensificar os treinos para uma maratona.</p>
                    <p><i class="fas fa-envelope"></i> paciente@gmail.com </p>
                    <p>
                        <i class="fas fa-lock"></i>
                        <span id="perfilPassword" class="me-2">******</span>
                        <i id="perfilTogglePassword" class="my-modalPerfil-iconeOlho fas fa-eye"></i>
                    </p>
                    <p><i class="fas fa-user-clock"></i> 28 anos</p>
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">

                <!-- Btn Sair -->
                <button type="button" class="btn btn-secondary">
                    <i class="fa-solid fa-sign-out-alt"></i> Deslogar
                </button>

                <!-- Btn Editar -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editarPerfilModal">
                    <i class="fa-solid fa-pen-to-square"></i> Editar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição do Perfil -->
<div class="modal fade" id="editarPerfilModal" tabindex="-1" aria-labelledby="editarPerfilModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="editarPerfilModalLabel">Editar Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form id="formEditarPerfil">

                    <!-- Foto -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-camera"></i></span>
                        <input type="file" class="form-control form-control-sm" id="foto">
                    </div>

                    <!-- Nome -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" id="nome" class="form-control form-control-sm" placeholder="Nome" />
                    </div>

                    <!-- Problema -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-stethoscope"></i></span>
                        <input type="text" id="problema" class="form-control form-control-sm"
                            placeholder="Problema (ex: dor no joelho, dor no tendão)" />
                    </div>

                    <!-- Descrição do Problema -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-comment"></i></span>
                        <textarea id="descricaoProblemaInputPerfil"
                            class="my-modalPerfil-textarea form-control form-control-sm"
                            placeholder="Descreva o problema"></textarea>
                    </div>

                    <!-- Email -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" id="email" class="form-control form-control-sm" placeholder="Email" />
                    </div>

                    <!-- Senha -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" id="passwordPerfilInput" class="form-control form-control-sm"
                            placeholder="Senha" />
                        <button class="my-modalPerfil-icones btn btn-outline-secondary" type="button"
                            id="togglePerfilPassword">
                            <i class="fas fa-eye" id="perfilEyeIcon"></i>
                        </button>
                    </div>

                    <!-- Idade -->
                    <div class="input-group mb-3">
                        <span class="my-modalPerfil-icones input-group-text"><i class="fas fa-user-clock"></i></span>
                        <input type="number" id="idade" class="form-control form-control-sm" placeholder="Idade" />
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">

                <!-- Btn Cancelar -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#perfilModal">Cancelar</button>

                <!-- Btn Alterar -->
                <button type="button" class="btn btn-primary" id="salvarAlteracoes">Alterar</button>
            </div>
        </div>
    </div>
</div>