<nav class="my-menu-container">
    <div class="navbar navbar-expand-lg mx-5">

        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img class="my-menu-logo" src="../../midia/components/logo/logoFisioFit.svg" alt=""> <span class="my-menu-logoFisio">Fisio</span><span class="my-menu-logoFit">Fit</span>
        </a>

        <!-- Botão Responsivo -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i id="my-menu-togglerIcon" class="fa-solid fa-bars"></i>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="my-menu-links navbar-nav ms-auto d-flex align-items-center gap-4">
                <li><a href="">Sobre</a></li>
                <li><a href="">Lembretes</a></li>
                <li><a href="">Pacientes</a></li>
                <li><a href="">Fisioterapeutas</a></li>
                <li><img src="../../midia/components/menu/iconeFisioterapeuta.svg" alt=""></li>
                <li><img src="../../midia/components/menu/iconePaciente.svg" alt=""></li>
                <a class="my-menu-btnPerfil" href="#">
                    <i class="fa-solid fa-user"></i> Perfil
                </a>
            </ul>
        </div>
    </nav>
</div>