/* Texto */
.my-indexS1-texto1 {
    color: var(--corPreto);
}

.my-indexS1-texto3 {
    color: var(--corCinza);
    font-size: 15px;
}



/* Logo Escrita*/
.my-indexS1-logoFisio {
    color: var(--corPreto);
    font-size: 28px;
    font-weight: 500;
}

.my-indexS1-logoFit {
    color: var(--corVermelhoClaro);
    font-size: 28px;
    font-weight: 500;
}



/* Btn Lembretes*/
.my-indexS1-btnLembretes {
    background-color: var(--corVermelhoEscuro);
    color: var(--corBranco);
    box-shadow: var(--corSombra);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.my-indexS1-btnLembretes:hover {
    opacity: 75%;
}



/* Imagem */
.my-indexS1-imagem {
    box-shadow: var(--corSombra);
    border-radius: 10px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}

.my-indexS1-imagem:hover {
    transform: scale(1.01);
}



/* Responsividade Container e Imagem */
@media (max-width: 992px) {
    .my-indexS1-container {
        flex-direction: column;
        gap: 10px !important;
    }

    .my-indexS1-imagem {
        margin-left: 0px;
        margin-top: 40px;
        height: 300px;
    }
}