/* Título Benefícios */
.my-indexS2-benefícios {
    display: inline-block;
    position: relative;
}

.my-indexS2-benefícios::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--corCinza);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Card Container*/
.my-indexS2-card {
    box-shadow: var(--corSombra);
    border: none !important;
    height: 270px;
}

.my-indexS2-card:hover {
    transition: transform 0.6s ease;
    transform: scale(1.01);
}



/* Card Ícone */
.my-indexS2-icone {
    color: var(--corPreto);
    font-size: 40px;
}



/* Card Título */
.my-indexS2-titulo {
    color: var(--corPreto);
}



/* Card Escrita */
.my-indexS2-escrita {
    color: var(--corCinza);
}



/* Responsividade Card Título e Escrita */
@media (max-width: 500px) {
    .my-indexS2-card {
        height: 290px;
    }

    .my-indexS2-escrita {
        font-size: 14px;
    }

    .my-indexS2-titulo {
        font-size: 18px;
    }
}