/* Container */
.my-menu-container {
    position: fixed;
    background-color: var(--corBranco);
    box-shadow: var(--corSombra);
    width: 100%;
    z-index: 100;
    top: 0;
}

/* Logo */
.my-menu-logo {
    height: 60px;
}

.my-menu-logoFisio {
    color: var(--corPreto);
    font-size: 18px;
    font-weight: 500;
}

.my-menu-logoFit {
    color: var(--corVermelhoClaro);
    font-size: 18px;
    font-weight: 500;
}

/* Links */
.my-menu-links li a {
    color: var(--corPreto);
    text-decoration: none;
}

.my-menu-links li a:hover {
    color: var(--corVermelhoEscuro);
}

/* Btn Perfil */
.my-menu-btnPerfil {
    background-color: red;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.my-menu-btnPerfil:hover {
    opacity: 75%;
}
